.header {
  display: flex;
  justify-self: center;
  font-family: "Inter";
}

.header__content {
  width: 882px;
  max-height: 74px;
  margin: 45px auto 40px auto;
  border-bottom: 1px solid #545454;
}

.header__logo {
  max-width: 173px;
  margin-top: 0;
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 41px;
}

@media (min-width: 320px) and (max-width: 582px) {
  .header__content {
    width: 282px;
    max-height: 56px;
    margin: 28px auto 42px auto;
  }

  .header__logo {
    margin-bottom: 32px;
  }
}

@media (min-width: 582px) and (max-width: 882px) {
  .header__content {
    width: 682px;
  }
}
