.profile {
  display: flex;
  flex-direction: row;
  font-family: "Inter";
  width: 882px;
  height: 120px;
  margin: auto;
}

.profile__image {
  max-width: 120px;
  margin-left: 0;
  border-radius: 100%;
}

.profile__info {
  margin: auto auto auto 30px;
}

.profile__info-update {
  display: flex;
  flex-direction: row;
}

.profile__name {
  font-family: "Inter";
  font-size: 42px;
  line-height: 56px;
  font-weight: 500;
  color: white;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 383px;
}

.profile__work {
  font-family: "Inter";
  font-size: 18px;
  line-height: 21.78px;
  font-weight: 400;
  color: white;
  margin: 16px auto 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 383px;
}

.profile__update {
  background-color: #000000;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: auto 0;
  margin-left: 17px;
  padding-top: 4px;
  background-image: url(../images/Edit\ Button.png);
  background-size: 24px;
}

.profile__update:hover {
  opacity: 60%;
}

.profile__add {
  background-color: #000000;
  width: 150px;
  height: 50px;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: auto 0 auto auto;
  background-image: url(../images/Add\ Button.png);
  background-size: 150px 50px;
}

.profile__add:hover {
  opacity: 60%;
}

@media (min-width: 320px) and (max-width: 744px) {
  .profile {
    display: flex;
    flex-direction: column;
    font-family: "Inter";
    width: 282px;
    height: 300px;
    margin: auto;
  }
  .profile__image {
    margin: 0 auto;
  }
  .profile__info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 282px;
    margin: 14px auto 0 auto;
  }
  .profile__info-update {
    height: 38px;
    width: 282px;
    margin-left: auto;
    margin-right: auto;
  }
  .profile__name {
    font-size: 22px;
    font-weight: 500;
    color: white;
    margin: 0;
    margin-left: auto;
    width: 201px;
  }
  .profile__work {
    font-size: 14px;
    line-height: auto;
    font-weight: 400;
    color: white;
    margin: 14px auto 0 auto;
    width: 201px;
    text-align: center;
  }
  .profile__update {
    width: 18px;
    height: 18px;
    margin: auto auto 0 12px;
    background-size: 18px 18px;
    padding: 0;
  }
  .profile__add {
    width: 282px;
    margin: 36px 0 0 0;
    background-image: url(../images/Add\ Button\ 320.png);
    background-size: 282px 50px;
  }
}

@media (min-width: 744px) and (max-width: 882px) {
  .profile {
    width: 682px;
  }
  .profile__name {
    font-size: 32px;
    width: 291px;
  }
  .profile__work {
    width: 291px;
  }
}
